* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    flex-wrap: wrap;
}


/* apply styles to <header> */

header {
    padding: 20px 35px;
    background-color: #1f9e9ebd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 a {
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin: 0;
    transition: transform .3s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

header h1:hover,
a:hover {
    -ms-transform: scale(1.25);
    /* IE 9 */
    -webkit-transform: scale(1.25);
    /* Safari 3-8 */
    transform: scale(1.25);
    color: rgb(74, 255, 122);
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}


/* header style finish here*/


/*grid style*/

.grid-container {
    display: grid;
    grid-auto-columns: 50px;
    grid-auto-rows: 200px;
    grid-gap: 20px;
    grid-auto-flow: dense;
    flex-wrap: wrap;
}

#background-header {
    background-image: url("./image/header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    grid-column: 1 / span 23;
    flex-wrap: wrap;
}

.float {
    float: right;
    color: #ffff;
    padding-top: 150px;
    padding-right: 25px;
    font-size: 40px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.float:hover {
    color: rgb(74, 255, 122);
}


/* ABOUT ME STYLING */

#about-me {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    margin: 20px 20px 40px 20px;
    border-right: 5px solid black;
    font-size: 35px;
    text-align: right;
    padding-right: 10px;
    flex-wrap: wrap;
}

.text-about {
    margin: 10px;
    padding: 12px;
    grid-column: 5/ span 20;
    grid-row: 2 / span 2;
}


/* WORK */

#work {
    text-align: right;
}

.item-1 {
    grid-column: 1 / span 4;
    grid-row: 3/ span 3;
    margin: 0px 20px;
    font-size: 35px;
    border-right: 5px solid black;
    padding-right: 10px;
    flex-wrap: wrap;
}

.overlay {
    position: absolute;
    bottom: -75px;
    left: 330px;
    background-color: yellow;
}

.item-2 {
    grid-column: 5/ span 11;
    grid-row: 3 / span 2;
    background-image: url(./Image/runbuddy.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 15px 0 15px;
    border: 5px solid yellowgreen;
    flex-wrap: wrap;
}

.overlay3 {
    position: absolute;
    bottom: -188px;
    left: 400px;
    background-color: orange;
    color: white;
    flex-wrap: wrap;
}

.item-3 {
    grid-column: 5 / span 5;
    grid-row: 5/ span 1;
    background-image: url(./Image/Untitled_Artwork.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid yellowgreen;
    flex-wrap: wrap;
}

.overlay4 {
    position: absolute;
    bottom: -333px;
    left: 710px;
    background-color: grey;
    color: white;
    font-size: xx-large;
    flex-wrap: wrap;
}

.item-4 {
    grid-column: 11 / span 5;
    grid-row: 5 / span 1;
    background-image: url(./Image/photography-of-stones-1029604.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid yellowgreen;
    flex-wrap: wrap;
}

.overlay5 {
    position: absolute;
    bottom: 100px;
    right: 50;
    background-color: transparent;
    color: white;
    font-size: xx-large;
}

.item-5 {
    grid-column: 16 / span 7;
    grid-row: 3 / span 1;
    background-image: url(./Image/abandoned-ancient-antique-architecture-235986.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid yellowgreen;
    margin: 10px;
}

.item-6 {
    grid-column: 16/ span 7;
    grid-row: 4 / span 1;
    background-image: url(./Image/IMG_8600.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid yellowgreen;
    margin: 10px;
}

#Resume {
    grid-column: 12 / span 4;
    grid-row: 6 / span 1;
    font-size: xx-large;
}


/*CONTACT ME*/

#contact-me {
    text-align: right;
}

.contact {
    grid-column: 1 / span 4;
    grid-row: 6 / span 1;
    margin: 20px;
    font-size: 35px;
    border-right: 5px solid black;
    padding-right: 10px;
}

.number {
    grid-column: 5 / span 1;
    grid-row: 6 / span 1;
    margin: 20px;
    font-size: 20px;
    padding: 80px;
}

.email {
    grid-column: 8 / span 1;
    grid-row: 6 / span 1;
    margin: 20px;
    font-size: 20px;
    padding: 80px;
}

.git {
    grid-column: 12 / span 1;
    grid-row: 6 / span 1;
    margin: 20px;
    font-size: 20px;
    padding: 80px;
}

.face {
    grid-column: 15 / span 1;
    grid-row: 6 / span 1;
    margin: 20px;
    font-size: 20px;
    padding: 80px;
}

.linkedin {
    grid-column: 18 / span 1;
    grid-row: 6 / span 1;
    margin: 20px;
    font-size: 20px;
    padding: 80px;
}