* {
    margin: 0;
    padding: 0;
  }
  body {

      font-family: Helvetica, Arial, sans-serif;
      display: block;
    }
    /* apply styles to <header> */
  header {
      padding: 20px 35px;
      background-color: #1f9e9ebd;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    header h1 a {
      font-weight: bold;
      font-size: 36px;
      color: white;
      margin: 0;
    }
    header a {
      text-decoration: none;
      color: white;
    }
    header nav {
      margin: 7px 0;
    }
  
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
  
    header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 1.55vw;
    }
    header h1 {
      font-weight: bold;
      font-size: 36px;
      color: #fce138;
      margin: 0;
    }
  /* header style finish here*/

/*grid style*/
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px;
    grid-auto-flow: dense;
}
#background-header{
    background-image: url("./image/header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    grid-column: 1 / span 12 ;
    
}
.float{
    float: right;
    color: #ffff;
    padding-top: 150px;
    font-size:  40px ;
    -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
.float:hover{
    color: rgb(74, 255, 122);
    
}
/* ABOUT ME STYLING */

#about-me {
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
  align-content: flex-end;
  margin: 20px;
  font-size: 35px;
  text-align: right;
}

/* .title-about{
  align-items: flex-start;
  margin: 10px;*/
  
/*.grid-item {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 35px
  background-color: gray;
}  */
 .text-about {
  margin: 10px;
  padding: 12px; 
  grid-column: 3 / span 9;
  grid-row: 2 / span 2;
}


/* WORK */
    #work{
    text-align: right;
  }
  .item-1 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
    align-items: flex-start;
    margin: 20px;
    font-size: 35px;
    text-align: right;
     
  }
  .item-2 {
    grid-column: 3/ span 6;
    grid-row: 3 / span 2 ;
    background-image: url(./Image/runbuddy.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* align-items: flex-start; */
    margin: 15px 0 15px;
    border: 5px solid yellowgreen;
    
  }

 .item-3 {
    grid-column: 3 / span 3;
    grid-row: 5/ span 2;
    background-image: url(./Image/Untitled_Artwork.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid yellowgreen;
    margin: 10px;
    width: 100%;
  }

  .item-4 {
    grid-column: 6 / span 3;
    grid-row: 5 / span 2;
    background-image: url(./Image/photography-of-stones-1029604.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid yellowgreen;
    margin: 10px;
    width: 100%;

  }
  .item-5 {
    grid-column: 9/ span 5;
    grid-row: 3 / span 1;
    background-image: url(./Image/abandoned-ancient-antique-architecture-235986.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid yellowgreen;
    margin: 10px;
    width: 100%;
    
  }
  .item-6 {
    grid-column: 9/ span 5;
    grid-row: 4 / span 1;
    background-image: url(./Image/IMG_8600.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid yellowgreen;
    margin: 10px;
    width: 100%;
    
  }

